@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--general_font);
}

:root{
    --frst_colour:#F1F0E8;
    --scnd_colour:#E5E1DA;
    --thrd_colour:#FFE6A9;
    --fourth_colour:#71C9CE;
    --hover-color:rgb(0,0,0,0.9);
    --general_font:Montserrat;
    --paragraph_font:Raleway;
}


nav{
    background:transparent;
}
.nav_li{
    position: relative;
}

.nav_li a{
    text-decoration: none;
    font-family: var(--general_font);
    color:white ;
    transition: 0.6s ease; 
}

.nav_li a::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 2px;
background-color: black;
transition: width 0.3s ease;
}

.nav_li a:hover::after {
    width: 10%;
  }


.nav_li button{
    margin-top: -10px;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-family: var(--general_font);
    background-color:transparent;
    border: 2px solid #659287;

    /* transition: 0.9s ease; */
   

}

.nav_li button:hover{
    background-color:var(--fourth_colour) ;
    transition: 0.9s ease;
}

.nav_li a:hover{
    color: #B1C29E;
    transition: 0.8s ease;
}

.head{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 800px;
    
}

.hero_row{
    margin-top: 10px;
}




.bus_image{
    width:100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: -100%;
    animation: 1s busMove linear 1 forwards;

}
.content{
    margin-left: 100px;
    margin-top: 100px;
}

.content h3,p{
    font-family: var(--general_font);
    font-weight: 500;
    color: white;
}

.content h1{
    font-family: var(--general_font);
    font-weight: 600;
    font-size: 40px;
    color: white;
}

@keyframes busMove{
    from{
        left: -100%;
    }
    to{
        left: 5%;
    }
}

@keyframes cardMove{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}


.travel{
   display: flex;
   width: 200px;
   height: 50px;
   background-color: white;
   align-items: center;
   overflow: hidden;
   border-radius: 20px;
   border: 2px solid rgb(0, 0, 0,0.4);
}

.travel img{
    padding: 4px;
    margin-left: 10px;

}

.travel input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.booking{
     width: 60%;
     color: white;
     margin-left: 20%;
     position: absolute;
     top: 660px;
     animation: 2s cardMove ease-in-out 1 forwards;
     animation-timeline: view();
     animation-range: entry 0%;
}

.booking_content{
    padding: 20px;
}

.first_part{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    animation: 1s textAnimation linear infinite;
    padding: 20px;
    font-family: var(--general_font);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first_part h3{
    margin-top: 20px;
    margin-left: 60px;
}

.book_one{
    gap: 20px;
    height: 100px;
}

.book_one,h2{
    margin-right: 50px;
    display: inline;
    margin-top: -10px;
}

.logo_call{
    height: 40px;
    width:40px;
}

.book_one span{
    font-size: xx-large;
    font-weight: 600
}

.book_two{
    margin-top: -10px;
}
.logo_call i{
    transform: scale(1,1.5);
    position: relative;
    top: 10px;  
    left: 10px; 
}

.scnd_part{
    background-color: white;
    color: black;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form{
    margin-right: 50px;
}

.scnd_part form{
    margin-left: 70px;
}

.scnd_part h2{
    font-weight: 700;
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1s textAnimation linear infinite;
}

@keyframes textAnimation {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


form button{
    width: 200px;
}

.destinatons{
    margin-top: 250px;
}

.card_des{
    width: 22%;
    height: 400px;
    overflow: hidden;
    margin: 5px;
    border-radius: 20px;
    color: white;
}

.card_des img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.card_content{
    position: absolute;
    top: 60%;
    margin-left: 40px;

}

.card_content button{
    color: white;
    border: 1px solid white;
}

.card_content h2,p,button{
    font-weight: 600;
}

.destinaton_part {
    display: flex;
    gap: 600px;
}

.destinaton_part h1{
    font-weight: 600;
    background-image: linear-gradient(0deg, #0a6485 0%, #7863bf 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.destinaton_part button{
    font-weight: 600;
    
}

.destinaton_part h2{
    font-family: Roboto Slab;
    font-size:larger;
    color:#0e8f96 ;
}




